*{
margin:0px;
box-sizing: border-box;


}
 h1{
    text-align:center;
}
@media (min-width:992px){
    .col-lg-4{
        float:left;
        margin:1px solid green;
        padding:10px ;
        width:33%;
    }
    .col-lg-4 > h2{
       text-align: right;
    }
    
}